@font-face {
    font-family: 'Euclid';
    src: url('../../public/fonts/Euclid\ Circular\ A\ Regular.ttf');
}
  
html, * {
    /* font-family: 'Euclid', Roboto !important; 
    font-family: 'Euclid';
    src: url('./public/fonts/Euclid\ Circular\ A\ Regular.ttf') !important; */
    font-family: 'Euclid' !important;
  }
.login {
    max-height: 400px !important;
    /* padding: 10px; */
}

nav {
    @media only screen and (min-width: 992px) {
        height: 100px !important;
    }
}

/* .nav-text {
    margin-left: -20px !important;
} */

.logo {
    margin-left: -10px !important;
}

.book-btn {
    background-color: #599703 !important;
    border: none !important;
    color: #fff !important;
}

footer {
    margin-bottom: -16%;
    @media only screen and (max-width: 992px) {
        margin-bottom: -26%;
    }
}

.pricing {
    background: #022279;
    .text {
        margin-top: -50px;
    }
    @media only screen and (max-width: 800px) {
        text-align: center;
    }
}

.amount {
    color: #599703 !important;
}
